// COLORS
$primary-color: #561f3a;	// Original Color #02aab0
$secondary-color: #e63057;	// Original Color #00cdac

$link-visited-color: #1dfff5;  // Cyan

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
